@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Space+Grotesk&family=Lato&family=Acme&family=Francois+One&family=Patua+One&family=Press+Start+2P&family=Ubuntu+Condensed&display=swap');

@font-face {
  font-family: 'Pokemon Solid Normal';
  src: local('Pokemon Solid Normal'), url(./fonts/PokemonSolidNormal-xyWR.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Krona One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(227, 227, 227);
}

h1 {
  text-align: center;
  margin: 3rem;
  font-family: 'Pokemon Solid Normal';
  font-size: 80px;
  letter-spacing: 8px;
  color: #ffcb05;
  text-shadow: -2px 11px 0 #3c5aa6,
               4px 7px 0 #3c5aa6,
                1px -1px 0 #3c5aa6,
               -1px -2px 0 #3c5aa6;
}
/*
nice box shadow 
box-shadow: 0 10px 10px 0 rgba(35,35,35,0.08);
*/

p {
  font-size: 0.9rem;
}
/* pokeball icon*/
.pokeball-icon {
  height: 4rem;
  rotate: 15deg;
}

.pokeball-icon:hover {
  animation: shake 2s ease-in infinite;
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  5% {
    transform: translate(3px,0) rotate(-5deg);
  }
  10% {
    transform: translate(5px,0) rotate(5deg);
  }
  15% {
    transform: translate(2px,0) rotate(-5deg);
  }
  20% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.subtitle {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2rem; 
}
.card {
  background-color: #777; /*backup color*/
  height: 22rem;
  width: 14rem;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  border: 3px solid rgba(255,255,255,0.3);
  transition: 400ms ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 80px 0 rgba(0,0,0,0.4);
}

.img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 80%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
}

.img-container > img {
  max-width: 90%;
  max-height: 90%;
  margin-top: 20px;
}

.img-container > img:hover {
  transform: scale(1.1);
}
.img-container > img:hover, .img-container > img, .card:hover{
  transition: 300ms ease-in-out;
}
.id {
  font-size: 1.3rem;
  margin: 0rem;
}
.name {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: -1px 2px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
  margin: 1rem;
}


.pokemonType {
  padding: 0.15rem 0.5rem 0.3rem 0.5rem;
  border-radius: 1rem;
  border: 2px solid #000;
  margin-left: 0.5rem;
  filter: saturate(2);
  color: #FFFFFF;
  text-shadow: -0.5px 2px 0 #000,
                          0.5px 0.5px 0 #000,
                         0.5px -0.5px 0 #000,
                        -0.5px -0.5px 0 #000;
  font-size: 0.7rem;
}
.info-container .info {
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: center;
 align-items: center; 
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: -1rem;
}

.pokemon-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 3rem 3rem 4rem 3rem;
  text-align: center;
  width: 80%;
}

.pokemon-details p.name {
  font-size: 4.5vw;
  margin-bottom: 1.5rem;
  margin-left: 0;
  background-color: transparent;
}
.pokemon-details p {
  text-align: start;
}

.info-container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . image-container"
    ". . . image-container"; 
  margin-top: 3rem;
  padding: 1rem 2rem;
}

.info-container .id {
  color: #FFFFFF;
  text-shadow: -1px 2px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
}

.modal-img-container {
  grid-area: image-container;
  width: 20vw;
  margin-left: 5rem;
}
.modal-img-container img {
  height: 16rem;
  max-width: 18rem;
  filter: drop-shadow(0.1rem 0.3rem 0.2rem #000000);
}
.modal-img-container p {
  display: flex;
  flex-wrap: nowrap;
}

.info-title {
  display: flex;
  justify-content: center;
}

.info-icon img {
  margin: 1rem 0;
  height: 3rem;
  width: 3rem;
  color: #FFFFFF;
}

.close-modal-button {
  float: right;
  height: 2rem;
  width: 2rem;
  margin: -2rem -2rem 0 0;
  border-radius: 50%;
}

.backdrop {
  position: fixed; 
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .pokemon-details {
    flex-direction: column-reverse;
  }
  
}